* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: rgb(214, 194, 194);
	color: #fff;
}
.hide {
	display: none;
}
.car {
	height: 157px;
	width: 55px;
	background: transparent url("../img/player.png") center / cover no-repeat;
}